{% extends 'base.html' %}{% load staticfiles %}

{% block cusomstyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/addjob.css" %}">
{% endblock %}

{% block content %}
<div class="container" ng-controller="jobDetailController" ng-init="initialize_job_controller()">
  <div class="row" id="addlink">
    <div class="col-xs-12">
      <input type="text" ng-model="job.job_url" class="col-sm-6 col-xs-6" style="margin-right:5px;height:30px;border-radius:4px;">
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-sm" ng-click="url_validation_popup()">Add job</button>
    </div>
    <p style="color:red" ng-if="url_validation_error">Please enter a valid URL</p>
  </div>

  <!-- Modal -->
            <!-- Modal -->
        <div id="myJobModal" class="modal fade col-md-offset-4" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="modalcontent">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="form-group" id="company-edit" style="margin-top:25px;">
                  <label for="company">Company:</label>
                  <textarea class="form-control"  ng-model="job.company" rows="1" placeholder=""></textarea>
                </div>
                <div class="form-group" id="jobrole-edit" style="">
                  <label for="jobrole">Jobrole:</label>
                  <textarea class="form-control"  ng-model="job.job_title" rows="1"></textarea>
                </div>
                <!-- Editable  form ends here -->
                <div class="form-group">
                    <label for="Link">Link:</label>
                    <a href="{[{job.url}]}">{[{job.job_url}]}</a>
                    
                </div>
              </div>
              <div class="modal-body" style="">
                <div class="form-group">
                  <label for="jobstage" style="font-size:12px;">Stage:</label>
                  <select class="selectpicker" data-style="btn-primary" id="stageselector" ng-model="job.stage">
                    <option  selected="selected">To Apply</option>
                    <option >Follow-up</option>
                    <option >Selection</option>
                  </select>
                </div>
                <div class="form-group" ng-if="do==add">
                  <label for="deadline" id="dlinelbl">Set your Deadline:</label>
                  <div class="row" id="dlinewpr" style="">

                    <!-- <div class="col-sm-2" style="padding:0;"> -->
                      
                    <!-- </div> -->
                    <div class="col-xs-12 btn-group" style="padding:0">
                      <div class="button-bar">
                          <input data-provide="datepicker" class="col-sm-3 col-xs-2 dlinebtn btn-time-line"  style="text-align: center" value="Custom" id='btn-custom-days' ng-model="job.deadline">

                      </div>
                    </div>
                  </div>  
                </div>
                <div class="row" style="margin-right:0px;margin-left:0px;padding-bottom:0px;height: 140px;">
                  <div class="form-group">
                    <label for="settask" style="font-size:12px" >Set Tasks:</label>
                  </div>
                  <div id="taskwrapper">
                    <div id="tasklist" ng-model="selected_tasks">
                      <div class="row">
                        <button id='btn-99' ng-class="change_selected_color('update_cv') ? 'select-task-btn' : 'task-btn' " ng-click="change_task_list('update_cv')">Update CV and coverletter  <span>+</span></button>
                      </div>
                      <div class="row">
                        <button ng-click="change_task_list('check_company')" id='btn-98' ng-class="change_selected_color('check_company') ? 'select-task-btn' : 'task-btn' ">Research about Company <span>+</span></button>
                      </div>
                    </div>
                    <div class="row">
                      <button class="task-btn" ng-click="AddTasks()" ><i>Add your own</i></button>
                    </div>
                  </div>
                </div>


              </div>         
              <div class="modal-footer" style="">
                <button type="button" class="btn btn-lg" data-dismiss="modal" ng-click="save_newjob()" style="background:#009900;color:white;width:75%;border-radius=8px;">OK</button>
              </div>
            </div>
          </div>
        </div>
        <!--first modal ends here-->


<div style="padding: 15px;margin-top:10px;font-size: 16px;" id="jobsview" class="ng-scope">
   <div style="margin-bottom:10px" class="ng-scope" ng-repeat="job_obj in jib_list_data">
      <section>
         <div ng-click="isCollapsed = !isCollapsed">
            <span class="glyphicon glyphicon-triangle-bottom" ng-show="isCollapsed" style="position: relative;top: 5px;"></span>
            <span class="glyphicon glyphicon-triangle-top ng-hide" ng-show="!isCollapsed" style="position: relative;top: 5px;"></span>
            <h5 style="margin-bottom:10px;font-weight:bold;display: inline-block;" class="ng-binding">To Apply</h5>

            
         </div>
         <hr style="width:100%">
         <div class="collapse">


            <div >
              <span class="" >{[{job_obj.job_title}]}</span>
            </div>


         </div>
         <!-- end ngIf: item.stage==stage --><!-- end ngRepeat: item in job_temp track by $index --><!-- ngIf: item.stage==stage --><!-- end ngRepeat: item in job_temp track by $index --><!-- ngIf: item.stage==stage --><!-- end ngRepeat: item in job_temp track by $index -->
         <!-- ngIf: isMore --><small ng-if="isMore" ng-click="moreItem(stage);" id="To Apply" value="To Apply" class="ng-scope"><span class="underlined ng-hide" ng-show="!isCollapsed">more</span></small><!-- end ngIf: isMore -->
      </section>
   </div>
   <!-- end ngRepeat: stage in job_stage -->
   <div  style="margin-bottom:10px" class="ng-scope">
      <section>
         <div ng-click="isCollapsed = !isCollapsed">
            <span class="glyphicon glyphicon-triangle-bottom" ng-show="isCollapsed" style="position: relative;top: 5px;"></span>
            <span class="glyphicon glyphicon-triangle-top ng-hide" ng-show="!isCollapsed" style="position: relative;top: 5px;"></span>
            <h5 style="margin-bottom:10px;font-weight:bold;display: inline-block;" class="ng-binding">Follow-up</h5>
         </div>
         <hr style="width:100%">
         <!-- ngRepeat: item in job_temp track by $index --><!-- ngIf: item.stage==stage --><!-- end ngRepeat: item in job_temp track by $index --><!-- ngIf: item.stage==stage -->
         <div class="ng-scope collapse" >
            <span class="glyphicon glyphicon-ok-circle" ng-class="{'green' : taskglychange = $index == selectedIndex }" style="margin-right:5px;"></span>
            <span class="jobtitle ng-binding" ng-class="{'changestyle':$index == selectedIndex}" id="job&quot;+job_temp.indexOf(item)+&quot;" style="margin-bottom:5px;color:#5D6D7E;font-weight: bold;">NT in Bosch</span>
            <span style="margin-left:10px;color:#5D6D7E;" class="ng-binding">31/05/2018</span>
            <hr style="margin-bottom:10px;">
            <!-- ngRepeat: task in item['task'] track by $index -->
            <div  class="col-lg-offset-1 col-xs-offset-2 ng-scope" style="margin-bottom:5px;line-height:0px;font-size:14px;min-height:2px;" ng-click="taskrem = !taskrem;">
               <span class="glyphicon glyphicon-ok-circle" ng-class="{'green' : taskglychange}"></span>
               <span style="color:#708090;font-size:16px;" class="ng-binding">Customize CV</span>
               <hr style="margin:10px;width: 80%;">
            </div>
            <!-- end ngRepeat: task in item['task'] track by $index -->
            <div  class="col-lg-offset-1 col-xs-offset-2 ng-scope" style="margin-bottom:5px;line-height:0px;font-size:14px;min-height:2px;" ng-click="taskrem = !taskrem;">
               <span class="glyphicon glyphicon-ok-circle" ng-class="{'green' : taskglychange}"></span>
               <span style="color:#708090;font-size:16px;" class="ng-binding">Update Coverletter</span>
               <hr style="margin:10px;width: 80%;">
            </div>
            <!-- end ngRepeat: task in item['task'] track by $index -->
         </div>
         <!-- end ngIf: item.stage==stage --><!-- end ngRepeat: item in job_temp track by $index --><!-- ngIf: item.stage==stage --><!-- end ngRepeat: item in job_temp track by $index -->
         <!-- ngIf: isMore --><small ng-if="isMore" ng-click="moreItem(stage);" id="Follow-up" value="Follow-up" class="ng-scope"><span class="underlined ng-hide" ng-show="!isCollapsed">more</span></small><!-- end ngIf: isMore -->
      </section>
   </div>
   <!-- end ngRepeat: stage in job_stage -->
   <div style="margin-bottom:10px" class="ng-scope">
      <section>
         <div ng-click="isCollapsed = !isCollapsed">
            <span class="glyphicon glyphicon-triangle-bottom" ng-show="isCollapsed" style="position: relative;top: 5px;"></span>
            <span class="glyphicon glyphicon-triangle-top ng-hide" ng-show="!isCollapsed" style="position: relative;top: 5px;"></span>
            <h5 style="margin-bottom:10px;font-weight:bold;display: inline-block;" class="ng-binding">Selection</h5>
         </div>
         <hr style="width:100%">
         <!-- ngRepeat: item in job_temp track by $index --><!-- ngIf: item.stage==stage --><!-- end ngRepeat: item in job_temp track by $index --><!-- ngIf: item.stage==stage --><!-- end ngRepeat: item in job_temp track by $index --><!-- ngIf: item.stage==stage -->
         <div class="ng-scope collapse">
            <span class="glyphicon glyphicon-ok-circle" ng-class="{'green' : taskglychange = $index == selectedIndex }" style="margin-right:5px;"></span>
            <span class="jobtitle ng-binding" ng-class="{'changestyle':$index == selectedIndex}" id="job&quot;+job_temp.indexOf(item)+&quot;" style="margin-bottom:5px;color:#5D6D7E;font-weight: bold;">ST in KPN</span>
            <span style="margin-left:10px;color:#5D6D7E;" class="ng-binding">25/04/2013</span>
            <hr style="margin-bottom:10px;">
            <!-- ngRepeat: task in item['task'] track by $index -->
            <div class="col-lg-offset-1 col-xs-offset-2 ng-scope" style="margin-bottom:5px;line-height:0px;font-size:14px;min-height:2px;" ng-click="taskrem = !taskrem;">
               <span class="glyphicon glyphicon-ok-circle" ng-class="{'green' : taskglychange}"></span>
               <span style="color:#708090;font-size:16px;" class="ng-binding">Customize CV</span>
               <hr style="margin:10px;width: 80%;">
            </div>
            <!-- end ngRepeat: task in item['task'] track by $index -->
            <div class="col-lg-offset-1 col-xs-offset-2 ng-scope" style="margin-bottom:5px;line-height:0px;font-size:14px;min-height:2px;" ng-click="taskrem = !taskrem;">
               <span class="glyphicon glyphicon-ok-circle" ng-class="{'green' : taskglychange}"></span>
               <span style="color:#708090;font-size:16px;" class="ng-binding">Attach Portfolio</span>
               <hr style="margin:10px;width: 80%;">
            </div>
            <!-- end ngRepeat: task in item['task'] track by $index -->
         </div>
         <!-- end ngIf: item.stage==stage --><!-- end ngRepeat: item in job_temp track by $index -->
         <!-- ngIf: isMore --><small ng-if="isMore" ng-click="moreItem(stage);" id="Selection" value="Selection" class="ng-scope"><span class="underlined ng-hide" ng-show="!isCollapsed">more</span></small><!-- end ngIf: isMore -->
      </section>
   </div>
   <!-- end ngRepeat: stage in job_stage -->
</div>



</div>
{% endblock %}







