@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.select-task-btn {
    color: #fbfbfb;
    background-color: #27a3e0;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 8px;
    width: 50%;
}

#stageselector{
	border-radius:2px;
	padding:3px;
	width:125px;
	margin-left:5px; 
}
.dlinebtn{
	border-radius:20px;
	color:#00a3cc;
	border-color:#00a3cc;
	background-color:white;
	margin-right: 5px;
	margin-bottom: 5px;
	padding-left:5px;
	padding-right:5px;
	padding-top: 5px;
	padding-bottom:5px;
	vertical-align:middle; 
	
	font-size:12px;
	border-width: 1px;

}
#jobpagecontainer {
	padding-left:0px;
	padding-right:0px;
}

#content_body {
	padding-left:15px;
	padding-right:15px;
}


/**:focus {
    outline: none !important;
    border: 0 !important;
}*/
.overlay {
    /*background:black;
    opacity:.3; */     
    position: absolute;   
    top: 50%;                 
    right: 0;                
    bottom: 0;
    left: 0;
    z-index: 2;
    height:100%;
    width: 100%;
    text-align: center;
   
}
.nofocus:focus {
    outline: none;
}

#newtask_input{
	text-align: center;
	width:180px;
	height: 40px;
	border-color: #293d3d;
	border-style: outset;
	border-radius: 5px;
}

.modal{
	position: absolute;
	top:0px;
	right: 0px;
	left: 0px;

}
#new_job_task.editable_task{
	height: 30px;
	width: 181px;
	border: none;
}
#new_job_task:hover{
  border: 1px solid black;
  border-style: outset;
  background-color: #e6f9ff;
}

.editable_input{
	border: none;
    text-align: left;
    

}
textarea.editable_input{
	/*resize: none;*/	
}

textarea.editable_input:focus{
    outline: none;
    resize: none;
}
input.editable_input:focus{
    outline: none;
}
.highlight_task_onhover{
	background-color: #e6fff7;
	border-top:.2px solid blue;
	border-bottom: .2px solid blue;
	padding-bottom: 2.5px; 
	padding-top: 10px;
	margin-right:4px;
	margin-left: 4px;
}

.highlight_task_onhover > input,.highlight_task_onhover > .over{
	background-color: #e6fff7;	
}

.highlight_tsk{
	border-top:.2px solid blue;
	border-bottom: .2px solid blue;
	padding: 3px;
	margin-right:4px;
	margin-left: 4px;
	vertical-align: middle;
}

.task_not_higlighted{
	border-bottom: .05px solid #e0e0d1;
	padding: 3px;
	margin-right:4px;
	margin-left: 4px;
	vertical-align: middle;
}
.add_task_job_modal{
	/*border-bottom: .03px solid #e0e0d1;*/
	/*border-top: .03px solid #e0e0d1;*/
	padding: 3px;
	margin-right:4px;
	margin-left: 4px;
	vertical-align: middle;
	margin-bottom: 10px;
	margin-top: 10px;
}

input.select-task-btn:hover,input.select-task-btn:focus,input.select-task-btn:active{
	color: white;
}

input.task-btn{
	border: .5px solid #8c8c8c;
}
#auto_expand_text_area{
	
	color:#708090;
	margin-left:5px;
	margin-right:10px;
	max-width:95%;
	font-size:20px;
	width:95%;
	vertical-align:middle;
	height:auto;
	min-height: 10px;
	-moz-transition: height 2s ease;
	-ms-transition: height 2s ease;
	-o-transition: height 2s ease;
	transition: height 2s ease;

}

.customized_form-control{
	background: transparent;
	box-shadow: none;
	border: none;
	padding: 0px 0px;
}

.popover {
  position: absolute;
  z-index: 100000;
}
.task_hovered{
	background-color: #e6fffa;
	border-top:.002px solid grey;
	border-bottom:.002px solid grey;
	padding-bottom: 2.5px; 
	padding-top: 2.5px;

}
.mark_task_as_done{
	color: #25e8c8;
    fill: #25e8c8;
    cursor: pointer;
    font-size: 16px;
}
.task_not_done{
    color: #848f99;
    fill: #848f99;
    font-size: 16px;
}

.overdue{
	color : red;
	
}
.no-due{
	color:green;

}
.input-group-addon{
	background: transparent;
}
/*input.editable_task:hover{
  border: 1px solid 
  lid black;
  border-style: outset;
}*/
.modal-header{
	padding-bottom:2px;
}

.modal-body{
	padding:30px;padding-top:10px;
	height: auto;
	overflow-y: auto;
	max-height: 500px;
	padding: 15px;
}
.modal-footer{
	text-align: center;
	/*position:fixed;
	bottom:0px;*/
	/*width:80%*/
	
}
.modal-header .form-group{
	margin-bottom:10px;
}


.modal-header .form-control{
	padding:6px 2px;
	width:80%;
}


.modal-body .form-group{
	margin-bottom:20px;
}

.task-btn{
	color: #8c8c8c;
	background-color: white;
	border-radius: 5px;
	margin-bottom:8px;
	padding:8px;
	width: 50%;

}

.underlined {
  text-decoration: underline dotted black;
}

.form-group {
    margin-bottom: 30px;
}

/*chaging the size and background-color by this classes*/
.body_colour_change{
	background-color : #F8F8FF;
	overflow: auto;

}

.dividebody {
	width:55%;
	background-color:white;
  }

.glyphColorChange {
	color : green;
}


.change_on_showjobmodal{
width:50%;
}

.jobtitle_change{
	background-color:blue;
}
.changestyle{
	/*border : 1px solid #1CD461;
	background-color : #1CD461;*/
	/*font-weight: bolder;*/
	/*font-size: 20px;*/
}
.green {
	color:green;
	font-size: 18px;
}

.triangle {
	color:green;
	font-size: 18px;
}

.emphasize{
	background-color: #EBF5FB  ;
  	box-shadow: 0 1px 1px #E0F9E8;
	margin-bottom: 10px;
}

#thisJobmodalcontent{
	position: relative;
    left:100px;
    top:32px;


}

#screenShotModal{
	position: fixed;
	top:83px;
	left: 740px;
}

.jobmodal_topfixed{
	position: fixed !important;
	top: -10px !important;
	
}

.jobmodal{
	position:absolute;
	top:50px;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}
.radio-group_addjob_modal  label {
  color: #33adff;
  display: inline-block;
  cursor: pointer;
  font-weight: 350;
  padding: 3px 20px;
}
.radio-group  label {
  color: #33adff;
  display: inline-block;
  cursor: pointer;
  font-weight: 350;
  padding: 5px 20px;
}

input[type=radio]:checked + label{
  color: white;
  background: #33adff;
}

label + input[type=radio] + label {
  border-left: 1px #33adff;
}
.radio-group {
  border: 1px solid #33adff;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  font-weight:200;
  line-height:1.25;
}
.radio-group_addjob_modal {
  border: 1px solid #33adff;
  display: inline-block;
  margin:0px 20px;
  border-radius: 10px;
  overflow: hidden;
  font-weight:200;
  line-height:1.2;
  vertical-align: middle;
  
}


@import url('https://fonts.googleapis.com/css?family=Roboto');


/*scroll bar customized*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


@media(min-width:600px){
	#dlinewpr{
		float:right;
		position:relative;
		left:0px; 
		width:80%
	}

	#dlinelbl{
		font-size:12px;
		padding:0px; 
		width:120px;
	}

	#taskwrapper{
	/*float:right;*/
	width:60%;
	position:relative;
	left:100px;
	top:-22px;
	margin-bottom:0px;

}
./*modal-body{
	height: 380px;
   }*/
   .modal-content{
   	width:540px;
   	height:540px;
   }
}



@media(max-width:600px){
.dlinebtn{
	font-size: 12px;
	height:35px;
}
.modal-body{
	height: 400px;
	/*text-align: center;*/
   }
#dlinelbl{
		font-size:12px;
		padding:0px; 
		width:100%;
	}
#dlinewpr{
	display:block;

}
}
