
.select-task-btn {
    color: #fbfbfb;
    background-color: #27a3e0;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 8px;
}

#stageselector{
	border-radius:2px;
	padding:3px;
	width:125px;
	margin-left:5px; 
}
.dlinebtn{
	border-radius:20px;
	color:#00a3cc;
	border-color:#00a3cc;
	background-color:white;
	margin-right: 5px;
	margin-bottom: 5px;
	padding-left:5px;
	padding-right:5px;
	padding-top: 5px;
	padding-bottom:5px;
	vertical-align:middle; 
	
	font-size:12px;
	border-width: 1px;

}
#jobpagecontainer {
	padding-left:0px;
	padding-right:0px;
}

#content_body {
	padding-left:15px;
	padding-right:15px;
}


/**:focus {
    outline: none !important;
    border: 0 !important;
}*/
.overlay {
    /*background:black;
    opacity:.3; */     
    position: absolute;   
    top: 50%;                 
    right: 0;                
    bottom: 0;
    left: 0;
    z-index: 2;
    height:100%;
    width: 100%;
    text-align: center;
   
}
.nofocus:focus {
    outline: none;
}



.modal{
	position: absolute;
	top:0px;
	right: 0px;
	left: 0px;

}

.modal-header{
	padding-bottom:2px;
}

.modal-body{
padding:30px;padding-top:10px;
height: auto;
overflow-y: auto;
max-height: 350px;
padding: 15px;
}
.modal-footer{
	text-align: center;
	/*position:fixed;
	bottom:0px;*/
	/*width:80%*/
	
}
.modal-header .form-group{
	margin-bottom:10px;
}


.modal-header .form-control{
	padding:6px 2px;
	width:80%;
}


.modal-body .form-group{
	margin-bottom:20px;
}

.task-btn{
	color: #8c8c8c;
	background-color: white;
	border-radius: 5px;
	margin-bottom:8px;
	padding:8px;
}

.underlined {
  text-decoration: underline dotted black;
}

.form-group {
    margin-bottom: 30px;
}

/*chaging the size and background-color by this classes*/
.body_colour_change{
	background-color : #F8F8FF;
	overflow: auto;

}

.dividebody {
	width:55%;
	background-color:white;
  }

.glyphColorChange {
	color : green;
}


.change_on_showjobmodal{
width:50%;
}

.jobtitle_change{
	background-color:blue;
}
.changestyle{
	/*border : 1px solid #1CD461;
	background-color : #1CD461;*/
	/*font-weight: bolder;*/
	/*font-size: 20px;*/
}
.green {
	color:green;
	font-size: 18px;
}

.triangle {
	color:green;
	font-size: 18px;
}

.emphasize{
	background-color: #EBF5FB  ;
  	box-shadow: 0 1px 1px #E0F9E8;
  	width: 90%;
	margin-bottom: 10px;

}

#thisJobmodalcontent{
	position: relative;
    left:100px;


}
.jobmodal_topfixed{
	position: fixed !important;
	top: -10px !important;
	
}

.jobmodal{
	position:absolute;
	top:50px;
}

@media(min-width:600px){
	#dlinewpr{
		float:right;
		position:relative;
		left:0px; 
		width:80%
	}

	#dlinelbl{
		font-size:12px;
		padding:0px; 
		width:120px;
	}
	
	#taskwrapper{
	/*float:right;*/
	width:60%;
	position:relative;
	left:100px;
	top:-22px;
	margin-bottom:0px;

}
./*modal-body{
	height: 380px;
   }*/
   .modal-content{
   	width:540px;
   	height:540px;
   }
}



@media(max-width:600px){
.dlinebtn{
	font-size: 12px;
	height:35px;
}
.modal-body{
	height: 400px;
	/*text-align: center;*/
   }
#dlinelbl{
		font-size:12px;
		padding:0px; 
		width:100%;
	}
#dlinewpr{
	display:block;

}
}
