<!DOCTYPE html>
  <html lang="en-US">
    <title> Add jobs </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% load static %}
    <script type="text/javascript" src="{% static "js/controller.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ui-bootstrap-tpls-2.5.0.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/addjob.css" %}">
     
   
  
    <body ng-app="myApp" ng-controller="myCtrl">
      <div class="container">
        {% verbatim %}
        <hr>
        <!--Add job area--><!-- Commented below can be used after some time.Please donot delete the  div below -->
        <!-- <div class="row" id="addlink">
          <div class="col-sm-12 col-sm-offset-3 col-xs-12 col-xs-offset-2">
            <input type="text" ng-model="job.link" class="col-sm-9 col-xs-6" style="margin-right:5px;height:30px;border-radius:4px;"> -->

            <!-- Trigger the modal with a button
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"ng-click="AddJob()">Add job</button>
          </div>
        </div> -->
        <div class="row" id="addlink">
          <div class="col-xs-12">
            <input type="text" ng-model="job.url" class="col-sm-9 col-xs-9" style="margin-right:5px;height:30px;border-radius:4px;">

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"ng-click="AddJob()">Add job</button>
          </div>
        </div>
            <!--add job area ends here-->

            <!-- Modal -->
        <div id="myModal" class="modal fade col-md-offset-4" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="modalcontent">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="form-group" id="company-edit" style="margin-top:25px;">
                  <label for="company">Company:</label>
                  <textarea class="form-control"  ng-model="job.company" rows="1" placeholder=""></textarea>
                </div>
                <div class="form-group" id="jobrole-edit" style="">
                  <label for="jobrole">Jobrole:</label>
                  <textarea class="form-control"  ng-model="job.role" rows="1"></textarea>
                </div>
                <!-- Editable  form ends here -->
                <div class="form-group">
                    <label for="Link">Link:</label>
                    <a href={{job.url}}>{{job.url}}</a>
                </div>
              </div>
              <div class="modal-body" style="">
                <div class="form-group">
                  <label for="jobstage" style="font-size:12px;">Stage:</label>
                  <select class="selectpicker" data-style="btn-primary" id="stageselector" ng-model="job.stage">
                  <option  selected="selected">To Apply</option>
                  <option >Selection</option>
                  <option >Follow-up</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="deadline" id="dlinelbl">Set your Deadline:</label>
                  <div class="row" id="dlinewpr" style="">

                    <!-- <div class="col-sm-2" style="padding:0;"> -->
                      
                    <!-- </div> -->
                    <div class="col-xs-12 btn-group" style="padding:0">
                      <div class="button-bar">
                          <button class="col-sm-3 col-xs-3 dlinebtn btn-time-line" ng-click="SelectTimeline('btn-today')" id='btn-today'>Today</button>
                          <button class="col-sm-3 col-xs-3 dlinebtn btn-time-line" ng-click="SelectTimeline('btn-two-days')" id='btn-two-days'>In two days</button>
                          <button class="col-sm-3 col-xs-3 dlinebtn btn-time-line" ng-click="SelectTimeline('btn-custom')" id='btn-custom' >Custom </button>
                      </div>
                    </div>
                  </div>  
                </div>
                <div class="row" style="margin-right:0px;margin-left:0px;padding-bottom:0px;height: 140px;">
                  <div class="form-group">
                    <label for="settask" style="font-size:12px" >Set Tasks:</label>
                  </div>
                  <div id="taskwrapper">
                    <div id="tasklist" ng-model="selected_tasks">
                      <div class="row">
                        <button class="task-btn" id = 'btn-99' ng-click="SelectTasks('btn-99')">Update CV and coverletter <span>+</span></button>
                      </div>
                      <div class="row">
                        <button class="task-btn" ng-click="SelectTasks('btn-98')" id = 'btn-98' >Research about Company <span>+</span></button>
                      </div>
                    </div>
                    <div class="row">
                      <button class="task-btn" ng-click="AddTasks()" ><i>Add your own</i></button>
                    </div>
                  </div>
                </div>
              </div>         
              <div class="modal-footer" style="">
                <button type="button" class="btn btn-lg" data-dismiss="modal" ng-click="sve()" style="background:#009900;color:white;width:75%;border-radius=8px;">OK</button>
              </div>
            </div>
          </div>
        </div>
        <!--first modal ends here-->

        <!--modal specefic to one job-->
        <div id="thisJob" class="modal col-md-offset-5" role="dialog" tabindex="-1"  aria-labelledby="More about this job" aria-hidden="true" data-backdrop="false" style="margin-top:50px;">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="width:550px;" id="thisJobmodalcontent">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="closeJobModal()">&times;</button>

                <div  id=" " style="margin-top:15px;">
                  <span> <img src="{% static "image/logo.jpg" %}" alt="Logo"/>
                  </span>
                  <div style="display: inline-block;">
                    <h3>{{thisjob.company}}</h3>
                    <h5>{{thisjob.role}}</h5>
                  </div>
                </div>
                <div id="thisjobslink">
                  <a href={{thisjob.url}}>{{thisjob.url}}</a>
                </div>
              </div>
              <div class="modal-body" style="">
                <div class="form-group">
                  <select class="selectpicker" data-style="btn-primary" id="" ng-model="">
                    <option>{{thisjob.stage}}
                    </option>
                  </select>
                </div>
                <div class="">
                  <div class="row" ng-repeat="task in thisjob.task">
                    <span class="glyphicon glyphicon-ok-circle" style="color:#708090;margin-left:10px;"></span>
                    <span style="color:#708090">{{task}}</span>
                    <hr style="margin:10px;">
                  </div>
                </div>
              </div>         
              <div class="modal-footer" style="">
                
              </div>
            </div>
          </div>
        </div>
        
        <!--modal specific to one job ends here-->
        <!-- <div ng-if="Wishlist.length>0" style="padding: 15px;">
          <table class="table table-striped table-hover table-bordered"  style="width: 50vw;">
            <tr ng-repeat="item in Wishlist">
            <td class="col-xs-4 col-md-4 text-center">{{item['role']}} in {{item['company']}}</td>
            <td class="col-xs-8 col-md-1" align="text-center"><button class="btn btn-danger"  ng-click="delete(item)">Delete</button>
            <button class="btn btn-info" data-toggle="modal" data-target="#myModal" ng-click="update(item)">Update</button></td>
            </tr>
          </table>
        </div> -->
        <div ng-if="job_temp.length>0" style="padding: 15px;margin-top:10px;" id='jobsview'>
          <div ng-repeat="stage in job_stage">
           <section >
            <h5 style="margin-bottom:10px;font-weight:bold;">{{stage}}</h5><hr style="width:100%">
            <div class="" ng-repeat="item in job_temp" ng-if="item.stage==stage"  ng-click="Show_this_Job(item)" data-job={{item}}>
              <span class="glyphicon glyphicon-ok-circle" style='color:#708090 ' ></span> 
              <span class="jobtitle" id='job"+job_temp.indexOf(item)+"'
              style="margin-bottom:5px;color:#708090;">{{item['role']}} in {{item['company']}}</span>
              <hr style="margin-bottom:10px;">
              <div ng-repeat="task in item['task']" class='col-lg-offset-1 col-xs-offset-2' style="margin-bottom:5px;line-height:0px;font-size:14px;min-height:2px;">
                <span class="glyphicon glyphicon-ok-circle" style="color:#708090;"></span>
                <span style="color:#708090">{{task}}</span>
                <hr style="margin:10px;">
             <div>
           </section>
          </div>
        </div>
            <!-- <td class="col-xs-8 col-md-1" align="text-center"><button class="btn btn-danger"  ng-click="delete(item)">Delete</button>
            <button class="btn btn-info" data-toggle="modal" data-target="#myModal" ng-click="update(item)">Update</button></td> -->
            
          <!-- </table> -->
       






      </div><!-- closing tag of the top level container -->
    </body>
    {% endverbatim %}

  </html>