{% extends 'base.html' %}

{% load staticfiles %}

{% block customstyle %}
   <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
{% endblock %}

{% block customscript %}
<script type="text/javascript" src="{% static "js/login.js" %}"></script>
{% endblock %}

{% block content %}
   <div class = "container" ng-cloak  ng-controller="loginController"  ng-init="initialize_login_controller()">
   <div class = "row">
   <div class = "col-xs-12 col-sm-4 col-sm-offset-8 ">
   <div class = "panel panel-login">
   <div class = "panel-heading">
      <div class = "row">
         <div class="col-xs-6">
            <a href="#" class = "active" id = "login-form-link">Login</a>
         </div>
         <div class = "col-xs-6">
            <a href = "#" id = "register-form-link">Register</a>
         </div>
      </div>
      <hr>
   </div>
   <div class="panel-body">
      <div class="row">
         <div class="col-lg-12">
            <form id="login-form" action="" method="post" style="display: block;">
               <p style="color:red" ng-if="login_error_status" ng-cloak >Invalid Username or Password</p>
               <div class = "form-group">
                  <input type="text" ng-model="username" class="form-control" placeholder="Username">
               </div>
               <div class = "form-group">
                  <input type="password" ng-model="password" class="form-control" placeholder="Password">
               </div>
               <div class = "form-group">
                  <div class = "row">
                     <div class = "col-sm-6 col-sm-offset-3">
                        <input type="button" class="form-control btn btn-login" value="Log In" ng-click="authenticate_app()">
                     </div>
                  </div>
               </div>
               <div class = "form-group">
                  <div class = "row">
                     <div class = "col-lg-12">
                        <div class = "text-center">
                           <a href = "" tabindex = "5" class = "forgot-password">Forgot Password?</a>
                        </div>
                     </div>
                  </div>
               </div>
               
            </form>
            <form id = "register-form" method = "post" role = "form" style = "display: none;">
               <p style="color:red" ng-if="pwd_error_status" id="create_error" ng-cloak>A user with that username already exists.</p>
               <div class = "form-group">
                  <input type = "email" ng-model="email" class = "form-control" placeholder = "Email" value = "">
               </div>
               <div class = "form-group">
                  <input type = "password" ng-model="emailpassword" tabindex = "2" class = "form-control" placeholder = "Password">
               </div>
               <div class = "form-group">
                  <input type = "password" ng-model="emailpassword1" class = "form-control" placeholder = "Confirm Password">
               </div>
               <div class = "form-group">
                  <div class = "row">
                     <div class = "col-sm-6 col-sm-offset-3">
                        <input type = "button" ng-click="add_new_user()" class = "form-control btn btn-register" value = "Register Now">
                     </div> 
                  </div>  
               </div>   
            </form>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
