{% extends 'base.html' %}

{% load staticfiles %}

{% block customstyle %}
   <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">

{% endblock %}

{% block customscript %}
<script type="text/javascript" src="{% static "js/login.js" %}"></script>
{% endblock %}

{% block content %}
   <div class = "container" ng-cloak  ng-controller="loginController"  ng-init="initialize_login_controller()" id="login_container">
   <div class = "row" id="first_row">
      <div class="col-sm-3 col-sm-offset-0 col-xs-3 col-xs-offset-0" id="logo">
       <img src={% static "image/logo.png" %} alt="worktojob logo">
      </div>
   </div>
   <div class="row" id='second_row'>
      <div class="col-sm-5 col-sm-offset-0 col-md-3 col-md-offset-0 col-xs-11 col-xs-offset-0" id="tagline" style="">
         <p><strong style="font-size:25px;vertical-align:middle;">Organize everything about your job search with </strong><img src={% static "image/logo.png" %} alt="worktojob logo" style="margin-left:5px;vertical-align: middle;"></p><p style="font-size:16px;color:#b8b894">
         WorktoJob is the most powerful workspace for a job seekers to manage lists,tasks,notes,job applications and deadlines and organize your search for new job.</p>
      </div>
      <div class="col-md-2 col-md-offset-1  hidden-xs hidden-sm" id="working_man_pic">
         <img src={% static "image/man_with_laptop.png" %} style="max-width:100%;min-width:100%;">
      </div>
   <div class = "col-md-3 col-md-offset-2 col-xs-11 col-xs-offset-0 col-sm-5 col-sm-offset-1" style="padding: 0px;" id="sign_inform">
   <div class = "panel panel-login">
   <div class = "panel-heading">
      <div class = "row">
         <div class="col-xs-6">
            <a href="#" class = "active" id = "login-form-link">Sign In</a>
         </div>
         <div class = "col-xs-6">
            <a href = "#" id = "register-form-link">Register</a>
         </div>
      </div>
      <hr>
   </div>
   <div class="panel-body">
      <div class="row">
         <div class="col-lg-12">
            <form id="login-form" action="" method="post" style="display: block;">
               <p style="color:red" ng-if="login_error_status" ng-cloak >Invalid Username or Password</p>
               <div class = "form-group">
                  <input type="text" ng-model="username" class="form-control" placeholder="Username">
               </div>
               <div class = "form-group">
                  <input type="password" ng-model="password" class="form-control" placeholder="Password">
               </div>
               <div class = "form-group">
                  <div class = "row">
                     <div class = "col-sm-12" >
                        <!-- <div class = "text-center"> -->
                           <a href="/reset/pwd" tabindex = "5" class = "forgot-password">Forgot Password?</a>
                      <!--   </div> -->
                     </div>
                  </div>
               </div>
               <div class = "form-group">
                  <div class = "row">
                     <div class = "col-sm-10 col-sm-offset-1" id="SignIn_button">
                        <input type="button" style="padding:10px 14px;" class="form-control btn btn-login" value="Sign In" ng-click="authenticate_app()">
                     </div>
                  </div>
               </div>
               <input type="checkbox" checked="checked" name="remember" id="remember">
               <label for="remember" id="remember_me">
                   Remember me
               </label>
              <!--  <label class="checkbox">
                 <input type="checkbox" checked>
                 <span class="checkbox__icon"></span>
                 Dat checkbox
               </label> -->
            </form>
            <form id = "register-form" method = "post" role = "form" style = "display: none;">
               <p style="color:red" ng-if="pwd_error_status" id="create_error" ng-cloak>A user with that username already exists.</p>
               <div class = "form-group">
                  <input type = "email" ng-model="email" class = "form-control" placeholder = "Email" value = "">
               </div>
               <div class = "form-group">
                  <input type = "password" ng-model="emailpassword" tabindex = "2" class = "form-control" placeholder = "Password">
               </div>
               <div class = "form-group">
                  <input type = "password" ng-model="emailpassword1" class = "form-control" placeholder = "Confirm Password">
               </div>
               <div class = "form-group">
                  <div class = "row">
                     <div class = "col-sm-10 col-sm-offset-1">
                        <input type = "button" ng-click="add_new_user()" class = "form-control btn btn-register" style="padding:10px 14px;" value = "Register Now">
                     </div> 
                  </div>  
               </div>   
            </form>
            </div>
         </div>
      </div>
   </div><!--second row ends here-->
   </div>
{% endblock %}
