


{% extends 'base.html' %}

{% load staticfiles %}

{% block customstyle %}
   <link rel="stylesheet" type="text/css" href="{% static "css/addjob.css" %}">
{% endblock %}

{% block content %}


 <div class="container" ng-controller="Jobcontroller" ng-class="{'body_colour_change':showjobmodal}" id="jobpagecontainer" style="width:100%" ng-init="initialize_job_controller()">
        {% verbatim %}
        <nav class="navbar navbar-default" style="width:100%;">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">WorktoJob</a>
            </div>
            <ul class="nav navbar-nav" style="float: right;">
              <!-- <li class="active"><a href="#"></a></li> -->
               <li class="nofocus"><a href="#" type="button" data-toggle="modal" data-target="#requestModal"> Request Feature</a>
               </li>
              <li class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Help
                <span class="caret"></span></a>
                <ul class="dropdown-menu" style="left: auto; right: 0 ">
                  <li><a href="#">Help with features</a></li>
                  <li><a href="#">Way to use WorktoJob</a></li>
                  <li><a href="#">Contact Support</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> 
                  <buton class = "glyphicon glyphicon-user" >
                </a>
                <ul class="dropdown-menu" style="left: auto; right: 0 ">
                  <li><a href="#">Profile Settings</a></li>
                  <li><a href="/change/pwd">Change Password</a></li>
                  <li ng-click="logoutUser()"><a href="#">Logout</a></li>
                </ul>
              </li>  
            </ul>
          </div>
        </nav>
            <!-- Request Feature Modal -->
        <div class="modal fade" id="requestModal" role="dialog" style="z-index:10000000">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Request New Feature</h4>
              </div>
              <div class="modal-body">
                <form name="feature_form">
                  <label style="display: block;"> Describe the Feature</label>
                  <textarea name="feature_text" style="display: block; width: 80%" rows="4" cols="50" ng-model = "featureText"> </textarea>
                  <button type="submit" class="btn btn-default" data-dismiss="modal" style="margin-top:10px; display: block;" ng-click="feedback(featureText)" data-toggle="modal" data-target="#thankYouModel">Submit</button>

                </form>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

         <!-- Thank you message -->
        <div class="modal fade" id="thankYouModel" role="dialog" style="z-index:10000000">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thank you for your support</h4>
              </div>
              <div class="modal-body">
                  <p style="display: block;"> We will try to incorporate your suggestion soon!</p>
              </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <div id = "content_body">
          <div class="row" id="addlink" ng-class="{'change_on_showjobmodal':showjobmodal}">
            <div class="col-xs-12">
              <form name="addlinkForm">
                 <input type="text"  ng-model="job.job_url" class="col-sm-9 col-xs-9" id="joblink"
                style="margin-right:5px;height:30px;border-radius:4px;" oninvalid="this.setCustomValidity('Please Enter valid URL')"  oninput = "setCustomValidity('')" required >
          
              
              <!-- Trigger the modal with a button -->
              <button type="submit" class="btn btn-info btn-sm" ng-click="url_validation_popup();">Add job
              </button>
              </form>
              <!-- {{addlinkForm.joblink.$valid}} -->
              <!-- div role="alert">
                <span class="error" ng-show="addlinkForm.joblink.$touched && addlinkForm.joblink.$invalid" style="color: #ff8566;font-size:12px;margin-top:2px;">
                  Please enter a url</span>

              </div> -->
            </div>
          </div>
              <!--add job area ends here-->
          <div ng-show = "loadingData" class="overlay" ng-cloak >
            <i class="fa fa-circle-o-notch fa-spin" style="font-size:25px;color:grey;vertical-align: middle;"></i>
          </div>
    <!-- Modal -->
              <!-- Modal -->
          <div id="myJobModal" class="modal fade col-md-offset-4" role="dialog" style="z-index:10000000">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content" id="modalcontent">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <form name="jb_form">
                  <!-- <div class="form-group" id="company-edit" style="margin-top:25px;">
                    <label for="company">Company:</label>
                    <textarea class="form-control"  ng-model="job.company" rows="1" placeholder=""></textarea>
                  </div> -->
                
  	                <div class="form-group" id="jobrole-edit" style="">
  	                  <label for="jobrole">Jobrole:</label>
  	                  <input type="text"  class="form-control"  name="jb_title" ng-model="job.job_title" style="padding-left:10px;" rows="1"  oninvalid="this.setCustomValidity('Please Enter a job title')" 
                      oninput="setCustomValidity('')" required>
  	                </div>
  	                <!-- Editable  form ends here -->
  	                <div class="form-group">
  	                    <label for="Link">Link:</label>
  	                    <a href="{{job.job_url}}">{{job.job_url}}</a>
  	                    
  	                </div>
  	                
  	              </div>
  	              <div class="modal-body" style="">
  	                <div class="form-group">
  	                  <label for="jobstage" style="font-size:12px;">Stage:</label>
  	                  <select class="selectpicker" name="jb_stage" data-style="btn-primary" id="stageselector" ng-model="job.stage">
  	                    <option  selected="selected">To Apply</option>
  	                    <option >Follow-up</option>
  	                    <option >Selection</option>
  	                  </select>
  	                </div>
  	                <div class="form-group">
  	                  <label for="deadline" id="dlinelbl">Set your Deadline:</label>
  	                  <div class="row" id="dlinewpr" style="">

  	                    <!-- <div class="col-sm-2" style="padding:0;"> -->
  	                      
  	                    <!-- </div> -->
  	                    <div class="col-xs-12 btn-group" style="padding:0">
  	                      <div class="button-bar nofocus">
  	                          <input data-provide="datepicker" name="jb_deadline" class="col-sm-3 col-xs-2 dlinebtn btn-time-line nofocus"  style="text-align: center" placeholder="Select a date" id='btn-custom-days' ng-model="job.deadline" required>
  	                      </div>
  	                    </div>
  	                  </div>  
  	                </div>
  	               
  	                <div class="form-group" style="margin-right:0px;margin-left:0px;padding-bottom:0px;height:auto;">
  	                    <label for="settask" style="font-size:12px" >Set Tasks:</label>
  	                  
  	                  <div id="taskwrapper" style="">
  	                    <div class="row">
  	                        <button class="nofocus " ng-class="{'select-task-btn':select_btn1,'task-btn':!select_btn1}" ng-click="select_btn1 = !select_btn1; change_tasks({action:'update_cv',action_date:update_cv_date,done:false})">Update CV and coverletter</button>
  	                        <div class="input-group date" data-provide="datepicker" style="width:250px;margin-top:8px;width:100px;float: right;position: relative;left: -60px;top:-10px;" class="datepicker" ng-click="activate_datepicker()">
                      	        <div class="input-group-addon" style="background-color: #FFF;border:1px solid #e0e0d1;border-style:dashed;border-radius:50%;height:25px;width: 25px;">
        					    <span class="glyphicon glyphicon-calendar" style="font-size:11px;color:#e0e0d1;"></span>
   						        </div>
         				        <input type="text" class="form-control" ng-model="update_cv_date" style="display: none;" ng-init="update_cv_date = today();" ng-change="update_date({action:'update_cv',action_date:update_cv_date})">
         				        <div ng-bind="formatDate(update_cv_date) |  date:'MMMM dd'" style="margin-left:5px;background-color: white;border: none;" class="input-group-addon">
    					        </div>
					        </div>
  	                    </div>
  	                    <div class="row">
  	                        <button class="nofocus " ng-class="{'select-task-btn':select_btn2,'task-btn':!select_btn2}" ng-click="select_btn2 = !select_btn2; change_tasks({action:'Research about company',action_date: research_date,done:false})">Research about company</button>
  	                        <div class="input-group date" data-provide="datepicker" style="width:250px;margin-top:8px;width:100px;float: right;position: relative;left: -60px;top:-10px;" class="datepicker" ng-click="activate_datepicker()">
                      	        <div class="input-group-addon" style="background-color: #FFF;border:1px solid #e0e0d1;border-style:dashed;border-radius:50%;height:25px;width: 25px;">
        					    <span class="glyphicon glyphicon-calendar" style="font-size:11px;color:#e0e0d1;"></span>
   						        </div>
         				        <input type="text" class="form-control" ng-model="research_date" style="display: none;" ng-init="research_date = today();" ng-change="update_date({action:'Research about company', action_date:research_date})">
         				        <div ng-bind="formatDate(research_date) |  date:'MMMM dd'" style="margin-left:5px;background-color: white;border: none;" class="input-group-addon">
    					        </div>
					        </div>
  	                        
  	                    </div>
  	                    
  	                    <div ng-if="newtasklist.length > 0" ng-repeat="each in newtasklist track by $index" class="row nofocus" style="margin-bottom:8px;">
  	                        <!-- <div style="border:1px solid grey;border-radius:5px;text-align:center;width:190px;padding:8px;display: inline-block;" class="nofocus">{{each.action}}
  	                        </div> -->
  	                        <input ng-model="each.action" class="editable_task" id="new_job_task">
  	                        <div class="input-group date" data-provide="datepicker" style="width:250px;margin-top:8px;width:100px;float: right;position: relative;left: -60px;top:-10px;" class="datepicker" ng-click="activate_datepicker()">
                      	        <div class="input-group-addon" style="background-color: #FFF;border:1px solid #e0e0d1;border-style:dashed;border-radius:50%;height:25px;width: 25px;">
        					    <span class="glyphicon glyphicon-calendar" style="font-size:11px;color:#e0e0d1;"></span>
   						        </div>
         				        <input type="text" class="form-control" ng-model="each.action_date" style="display: none;">
         				        <div ng-bind="formatDate(each.action_date) |  date:'MMMM dd'" style="margin-left:5px;background-color: white;border: none;" class="input-group-addon">
    					        </div>
					        </div>
  							<div style="display: inline-block;position: absolute;left:335px;">
  	                       		 <span class="glyphicon glyphicon-remove-circle nofocus" ng-click="delete_task(each)"    style="vertical-align:middle;color:red;font-size:17px;"></span>

  	                       	</div>
  	                       
  	                    </div>
  	                    <div class="row">
  	                        <input type='text'  ng-model="newtask" placeholder="Add your task" id="newtask_input"> 
  	                        <div class="input-group date" data-provide="datepicker" style="width:250px;margin-top:8px;width:100px;float: right;position: relative;left: -60px;top:-10px;" class="datepicker" ng-click="activate_datepicker()">
                      	        <div class="input-group-addon" style="background-color: #FFF;border:1px solid #e0e0d1;border-style:dashed;border-radius:50%;height:25px;width: 25px;">
        					    <span class="glyphicon glyphicon-calendar" style="font-size:11px;color:#e0e0d1;"></span>
   						        </div>
         				        <input type="text" class="form-control" ng-model="date" style="display: none;" ng-init ="date = today();">
         				        <div ng-bind="formatDate(date) |  date:'MMMM dd'" style="margin-left:5px;background-color: white;border: none;" class="input-group-addon">
    					        </div>
					        </div>
  	                        <button style="vertical-align: middle;color:green;font-size:17px;background-color:white;border:none;font-weight:200;left:170px;"  class="glyphicon glyphicon-plus nofocus" ng-click="add_task(newtask,date);">
  	                        </button>
  	                    </div>
  	                </div>
  	                <!-- <div class="row" ng-if="addmoretasks==false">
  	                    <button class="task-btn" ng-click="AddmoreTasks();"><i>Add your own</i>
  	                    </button>
  	                </div> -->
  	            </div>
  	         </div><!--modal body ends here-->
  	              

  	            
  	            <div class="modal-footer" style="">
  	                <button type="submit" name="save" class="btn btn-lg" ng-click="jb_form.jb_title.$valid && save_newjob();" style="background:#009900;color:white;width:75%;border-radius=8px;">OK</button>
  	              </div>
               </form>
              </div>
            </div>
          </div>
          <!--first modal ends here-->

          <!--modal specefic to one job-->
          <div  id="thisJob" class="modal jobmodal col-md-offset-5" role="dialog" tabindex="-1"  aria-labelledby="More about this job" aria-hidden="true" data-backdrop="false" style="overflow-y: hidden;z-index:1" ng-class="{'jobmodal_topfixed':jobmodal_topfixed}">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content" style="width:550px;" id="thisJobmodalcontent">
                <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal" ng-click= "closeJobModal();" >&times;</button> -->
                   <button class="md-primary md-raised close" type="button" data-dismiss="modal"  ng-click="changed_jobproperty && showConfirm($event,thisjob);closeJobModal();" >

                   &times;
                  </button>

                  <div  id=" " style="margin-top:5px;">
                    <div style="margin-bottom: 15px;">
                      <!-- <h4>{{thisjob.job_title}}</h4> -->
                      <textarea style="color:#708090;margin-left:5px;margin-right:5px;width:450px;font-size:20px;height:auto;min-height: 60px;height: auto;text-overflow: ellipsis" ng-model="thisjob.job_title" class="editable_input" readonly="true" onclick="this.readOnly='';" ng-change="changed_jobproperty = true">
                      	</textarea>
                    </div>
                  </div>
                  <div id="thisjobslink">
                    <a href={{thisjob.url}}>{{thisjob.job_url}}</a>
                  </div>
                </div>
                <div class="modal-body" style="max-height: 500px;margin-top:10px;" >
                  <div>
                    <div class="form-group">  
                      <select   ng-init="somethingHere = thisjob.stage" ng-model="thisjob.stage" ng-options="each for each in job_stage"  ng-change="changed_jobproperty=true; changeCollapse(thisjob.stage)">
                      </select>
                      <!-- <div>
                      <md-datepicker ng-model="thisjob.deadline" md-placeholder="{{thisjob.deadline}}"></md-datepicker>
                      </div> -->
                      <div class="input-group date" data-provide="datepicker" style="width:250px;margin-top:8px;width:100px;float: right;position: relative;left: -250px;top:-10px;" class="datepicker" ng-click="activate_datepicker()">
                      	 <div class="input-group-addon" style="background-color: #FFF;border:1px solid #e0e0d1;border-style:dashed;border-radius:50%;height:25px;width: 25px;">
        					<span class="glyphicon glyphicon-calendar" style="font-size:11px;color:#e0e0d1;"></span>
   						 </div>
         				 <input type="text" class="form-control" ng-model="thisjob.deadline" style="display: none;" ng-change="changed_jobproperty = true;">
         				 <div ng-bind="formatDate(thisjob.deadline) |  date:'MMMM dd'" style="margin-left:5px;background-color: white;border: none;" class="input-group-addon" ng-class="overdue(thisjob.deadline) ? 'overdue' :'no-due' ">
    					 </div>
					  </div>
   

                    </div>
                    <div class="nofocus" style="margin-top: 35px;">
                      <div class="row nofocus " ng-repeat="task in thisjob.tasks track by $index" ng-class=" $index == clicked_task_index  ? 'highlight_tsk' : 'task_not_higlighted'" ng-click="clicked_task($index)" style="vertical-align: middle;" >
                        <!-- ng-mouseover="highlight_task_onhover($index)" -->
                        <!-- $index == hovered_task_index ?'highlight_task_onhover':'task_not_higlighted' -->
                        <!-- <span style="color:#708090;margin-left:40px" class="nofocus">{{task.action}}</span> -->
                        <span class="glyphicon glyphicon-ok-circle nofocus" ng-class="task.done ? 'mark_task_as_done' :'task_not_done' " ng-click="mark_as_done($index,task)" ng-mouseover="showPopover()" ng-mouseleave="hidePopover()" style="vertical-align: middle;">
                        </span>
                        <!-- <div class="modal-dialog modal-sm"  ng-show="!task.done && popoverIsVisible">
      						<div class="modal-content">
						        <div class="modal-header>
						          <h4 class="modal-title">Marka as done</h4>
						        </div>	
						    </div>
                        </div> -->
                        <textarea style="color:#708090;margin-left:10px;width:60%;min-height: 100%;max-height:100%;overflow: hidden;text-overflow: ellipsis;vertical-align: middle;text-align:justify; " ng-model="task.action" class="editable_input" readonly="true" onclick="this.readOnly='';" ng-change="changed_jobproperty=true">
                        </textarea>
                        <!-- <span >{{task.action_date}}</span> -->
                        <div class="input-group date" data-provide="datepicker" style="width:250px;margin-top:8px;width:100px;float: right;position: relative;right:60px;" class="datepicker" ng-click="activate_datepicker()">
         				        <input type="text" class="form-control" ng-model="task.action_date" style="display: none;" ng-change="changed_jobproperty = true" >
           				        <div ng-bind="formatDate(task.action_date) |  date:'MMMM dd'" style="margin-left:5px;border: none;font-size:12px;"  class="input-group-addon" ng-class="overdue(task.action_date) ? 'overdue' :'no-due' ">
      					           </div>
					              </div>
					               <span class="glyphicon glyphicon-remove-circle nofocus" ng-click="removeTask($index)"  ng-show="$index == clicked_task_index"  style="vertical-align: middle;color:#e0e0d1;font-size:16px;float:right;position:relative;right:-50px;display: inline-block;"></span>
                     
                        <!-- <hr style="margin:10px;"> -->
                        </div>
                      </div>
                      <div  class="row" style="margin-top:18px;">
                        
                          <form name="myForm" style="display: inline-block;width:100%;margin-left:40px;">
                            <input type='text' name="task" id="inputtask" style="margin-top:5px;margin-bottom:25px;border:0; border-bottom:1px solid grey;background: transparent;text-align: center;width:60%;outline: none; "  ng-model="tsk"  placeholder="Add yout task here" onfocus="this.placeholder=''" ng-click="tsk=''" required ng-keypress="($event.which === 13) && myForm.task.$valid && add_task_job_modal(tsk,tsk_duedate); " >
                            <div class="input-group date" data-provide="datepicker" style="width:100px;margin-top:8px;float: right;position: relative;right: 65px;border:none;" class="datepicker" ng-click="activate_datepicker()">
		                      	 <div class="input-group-addon" style="background-color: #FFF;border:1px solid #e0e0d1;border-style:dashed;border-radius:50%;height:25px;width:25px;">
		        					<span class="glyphicon glyphicon-calendar" style="font-size:11px;color:#e0e0d1;"></span>
		   						 </div>
		         				 <input type="text" class="form-control" ng-model="tsk_duedate" style="display: none;border: none;">
		         				 <div ng-bind="formatDate(tsk_duedate) |  date:'MMMM dd'" style="margin-left:5px;border:none;" class="input-group-addon">
		    					 </div>
					        </div>

                            <!-- <div role="alert">
                              <span class="error" ng-show="myForm.task.$touched && myForm.task.$invalid" style="color: #ff8566;font-size:12px;margin-top:2px;">
                                Please enter a task!</span>
                            </div> -->
                            <div style="" tyle="display:inline-block;text-align:center;padding:2px;position: absolute;left:297px;"">

                          <!--   <button style="color:green;font-size:17px;background-color:white;border:none;font-weight:200;" type="submit" class="glyphicon glyphicon-plus nofocus" ng-click="myForm.task.$valid && thisjob.tasks.push({'action':tsk,'action_date':'23-12-2011'}); myForm.task.$valid && addtaskbutton_clicked();"> -->

                            <!-- <button style="color:green;font-size:17px;background-color:white;border:none;font-weight:200;" type="submit" class="glyphicon glyphicon-plus" ng-click="myForm.task.$valid && thisjob.tasks.push({'action':tsk,'action_date':'22/3/2018'});"> -->

                            <!--  <span class="glyphicon glyphicon-plus" style="color:green;font-size:17px;" ng-click="myForm.task.$valid && thisjob.task.push(tsk);"> </span> -->
                            </button>
                          </div>
                        </form>
                        
                      </div>
                      <div style="float:right;margin-right:5px;margin-bottom:5px;">
                      	<button ng-click="saveThisJob(thisjob)" type="submit">Save</button>
                        <button style="" ng-click="deleteJobInfo(thisjob.id)">Delete</button>
                     </div>
                  </div>
                  <div>
                     <!--  -->
                     <div style=" clear:right;position: relative;top: 30px">
                        <hr  style="height:1px;border:none;color:#333;background-color:#333;" />
                        <img src='/static/image/logo.jpg' alt="" style="max-width: 100%;
                        max-height: 100%;">
                      </div>
                  </div>
                  <!-- <button class="btn-info btn-sm col-lg-offset-8"  ng-click="UpdateJob(thisjob);">Save Changes</button> -->
                </div>         
               <!--  
 -->
                <!-- <div class="modal-footer" style="border-top:0px;overflow-y:auto;height:auto;max-height:250px;">
                  <div style="">
                    <img src='/static/image/logo.jpg' alt="" style="max-width: 100%;
                    max-height: 100%;">
                  </div>
                </div> -->
              </div>
            </div>
          </div>

          <div ng-if="job_temp.length>0"  style="padding: 15px;margin-top:10px;font-size: 16px;" id='jobsview' ng-class="{'dividebody':showjobmodal}" class="nofocus">
            <div ng-repeat="stage in job_stage"  class="nofocus" style="margin-bottom:10px" >
             <section ng-cloak>
                <div ng-click="collapse[$index] = !collapse[$index];"  ng-init = "prev_index = $index" class="nofocus">
                  <span class="glyphicon glyphicon-triangle-bottom"  ng-cloak ng-show="!collapse[$index]" style="position: relative;top: 5px;"></span>
                  <span class="glyphicon glyphicon-triangle-top" ng-cloak ng-show="collapse[$index]" style="position: relative;top: 5px;"></span>

                  <h5 style="margin-bottom:10px;font-weight:bold;display: inline-block;" class="nofocus">{{stage}}</h5>
                </div>
                <hr style="width:100%">
               
                <div ng-repeat="item in job_temp track by $index" id="jobdiv{{$index}}" ng-if="item.stage==stage"  ng-click="show_this_Job(item,$index);"  class="nofocus"  ng-class="{'emphasize' : $index == clickedIndex}" style="padding: 5px;" uib-collapse="!collapse[prev_index]">
                  <div  class= "row" style="margin: 0px; width: 100%">
                   <!--  <span class="glyphicon glyphicon-ok-circle" ng-class="{'green' : taskglychange = $index == clickedIndex}" style="margin-right:5px;"></span> -->
                    <span class="nofocus col-xs-8" ng-class="{'changestyle':$index == selectedIndex}" id='job"+job_temp.indexOf(item)+"'
                    style="margin-bottom:5px;color:#5D6D7E;font-weight: bold;">{{item['job_title']}} </span>
                    <!-- <span style="margin-left:10px;color:#5D6D7E;">{{item['deadline']}}</span> -->
                    <div ng-bind="formatDate(item.deadline) |  date:'MMMM dd'" style="border: none; display: inline-block;" class ="col-xs-3 col-xs-offset-1" ng-class="overdue(task.action_date) ? 'overdue' :'no-due' "> </div>
                  </div>
                  <hr style="margin-bottom:10px;">
                  <div ng-repeat="task in item['tasks'] track by $index" class='col-lg-offset-1 col-xs-offset-2 nofocus' style="line-height:0px;font-size:14px;" ng-click="taskrem = !taskrem;">
                    <span class="glyphicon glyphicon-ok-circle nofocus" ng-class="task.done ? 'mark_task_as_done' :'task_not_done' " style="font-size:16px;margin-right: 3px"></span>
                    <span style="color:#708090;font-size:16px;" class="nofocus">{{task.action}}</span>
                    <div ng-bind="formatDate(task.action_date) |  date:'MMMM dd'" style=" position:relative;float: right;right:40%;font-size:10px;" ng-show = "overdue(task.action_date);" ng-class="'overdue'">
                    </div>
                    <hr style="margin:10px;width: 80%;">
                  </div>
                </div>
                
                
             </section>
            </div>
            <div style="visibility: hidden" id="dialog">
  		    <div class="md-dialog-container" id="myDialog">
  		      <md-dialog layout-padding>
  		        <h2>Pre-Rendered Dialog</h2>
  		        <p>
  		          This is a pre-rendered dialog, which means that <code>$mdDialog</code> doesn't compile its
  		          template on each opening.
  		          <br/><br/>
  		          The Dialog Element is a static element in the DOM, which is just visually hidden.<br/>
  		          Once the dialog opens, we just fetch the element from the DOM into our dialog and upon close
  		          we restore the element back into its old DOM position.
  		        </p>
  		      </md-dialog>
  		    </div>
  		  </div>
        </div>
      </div>
            <!-- <td class="col-xs-8 col-md-1" align="text-center"><button class="btn btn-danger"  ng-click="delete(item)">Delete</button>
            <button class="btn btn-info" data-toggle="modal" data-target="#myModal" ng-click="update(item)">Update</button></td> -->
            
          <!-- </table> -->
       
        


    {% endverbatim %}

      </div>
 {% endblock %}

{% block customscript %}

<script type="text/javascript">

// $(function () {

//        $("#datepicker2").click(function () {
//           $(this).datepicker();
//         });
    
       
   
  







    </script>

{% endblock %}


